<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | STIKOM Topic Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Urbanist&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter", "sans-serif"],
              poppins: ["Poppins", "sans-serif"],
              urbanist: ["Urbanist", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div class="w-full h-screen flex items-center justify-center bg-gray-100">
      <div class="w-[25%]">
        <div class="flex flex-col items-center mb-6">
          <h1 class="text-xl font-bold font-inter">Sign In</h1>
          <p class="font-urbanis text-sm">
            Already have an account?
            <a href="{{ url_for('register') }}" class="text-blue-500"
              >Sign Up</a
            >
          </p>
        </div>
        <form action="{{ url_for('login') }}" method="POST">
          {{ form.hidden_tag() }}
          <div class="flex flex-col gap-y-4 mb-6">
            {{ form.nickname(class="w-96 border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)] focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md w-full", placeholder="Nickname") }}
            {{ form.password(class="w-96 border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)] focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md w-full", placeholder="Password", type="password") }}
          </div>
          {{ form.submit(class="h-12 border-black border-2 p-2.5 bg-[#A6FAFF] hover:bg-[#79F7FF] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] active:bg-[#00E1EF] rounded-md block text-center w-full") }}
        </form>
      </div>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
