<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discussion | STIKOM Topic Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Urbanist&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter", "sans-serif"],
              poppins: ["Poppins", "sans-serif"],
              urbanist: ["Urbanist", "sans-serif"],
            },
          },
        },
      };
    </script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  </head>
  <body>
    <body class="bg-[#fdfdfd] font-inter">
      <div class="max-w-5xl mx-auto px-4 py-6 flex flex-col min-h-screen">
        <div class="flex items-center justify-between mb-6">
          <h1 class="text-3xl font-bold">Topic</h1>
          <a
            href="{{ url_for('topics') }}"
            class="h-10 w-10 flex items-center justify-center border-2 border-black rounded-full bg-[#A6FAFF] hover:bg-[#79F7FF] shadow transition"
          >
            <i data-lucide="arrow-left"></i>
          </a>
        </div>

        <div class="bg-white border border-black rounded-xl p-4 mb-4 shadow">
          <h2 class="text-2xl font-semibold mb-2">{{ topic.title }}</h2>
          <p class="text-gray-700 font-urbanist">{{ topic.description}}</p>
        </div>

        <div
          class="flex-1 grid grid-rows-[auto_1fr_auto] border border-black rounded-xl bg-white overflow-hidden"
        >
          <div class="border-b border-black p-4 bg-gray-50">
            <p class="font-semibold">Discussion</p>
          </div>

          <div
            id="discussion-container"
            class="flex-1 overflow-y-auto p-4 space-y-4"
            style="max-height: 490px"
          ></div>

          <div class="bg-white px-4 py-3">
            <div
              id="file-name-preview"
              class="text-sm text-gray-600 mb-1"
            ></div>
            <div
              id="error-container"
              class="text-sm text-red-600 font-semibold mb-2"
            ></div>

            <form id="message-form" class="flex items-center space-x-2">
              <input
                id="message-input"
                placeholder="Type your message"
                class="flex-1 border-2 border-black p-2.5 rounded-md focus:outline-none focus:bg-[#FFA6F6] shadow"
              />
              <input
                type="file"
                id="file-input"
                class="hidden"
                accept=".jpg,.jpeg,.png,.pdf,.docx"
              />
              <label
                for="file-input"
                class="h-10 w-10 flex items-center justify-center border-2 border-black rounded bg-[#FFA6F6] hover:bg-[#FF79E6] shadow cursor-pointer"
              >
                <i data-lucide="file"></i>
              </label>
              <button
                type="submit"
                class="h-10 w-10 flex items-center justify-center border-2 border-black rounded bg-[#A6FAFF] hover:bg-[#79F7FF] shadow"
              >
                <i data-lucide="send"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </body>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>

    <script>
      const socket = io({ transports: ["websocket"] });
      const topicId = "{{ topic.id }}";
      const userId = "{{ user.id }}";

      socket.emit("join", { topic_id: topicId });
      socket.emit("fetch_messages", { topic_id: topicId });

      socket.on("all_messages", (grouped) => {
        const discussionContainer = document.getElementById(
          "discussion-container"
        );
        discussionContainer.innerHTML = "";
        let lastWarrapper = null;
        const messageForm = document.getElementById("message-form");

        Object.entries(grouped).forEach(([date, messages]) => {
          const dateHeader = document.createElement("div");
          dateHeader.className =
            "text-center font-bold text-gray-700 mt-4 mb-2";
          dateHeader.innerText = date;
          discussionContainer.appendChild(dateHeader);

          messages.forEach((msg) => {
            const wrapper = document.createElement("div");
            wrapper.className = `flex items-start mb-4 ${
              msg.user_id == userId ? "justify-end" : ""
            }`;

            const fileContent = msg.file
              ? msg.file.match(/\.(jpeg|jpg|gif|png)$/i)
                ? `<img src="${msg.file}" class="mb-2 max-w-full rounded" />`
                : `<a href="${msg.file}" target="_blank" class="text-sm underline text-blue-600 mb-2">View File</a>`
              : "";

            wrapper.innerHTML = `
              <div class="max-w-[70%] min-w-[20%] bg-gray-100 p-3 rounded-xl border-2 border-black">
                <p class="text-sm font-bold">${msg.code_hash}</p>
                <div class="flex items-center justify-between text-xs text-gray-500 mb-1">
                  <span>${msg.created_at}</span>
                </div>
                ${fileContent}
                ${
                  msg.message
                    ? `<p class="text-sm font-urbanist">${msg.message}</p>`
                    : ""
                }
              </div>`;

            discussionContainer.appendChild(wrapper);
            lastWarrapper = wrapper;
          });
        });

        requestAnimationFrame(() => {
          if (lastWarrapper) {
            setTimeout(() => {
              lastWarrapper.scrollIntoView({
                behavior: "smooth",
                block: "end",
              });
              messageForm.scrollIntoView({
                behavior: "smooth",
                block: "end",
              });
            }, 100);
          }
          messageForm.scrollIntoView({
            behavior: "smooth",
            block: "end",
          });
        });
      });

      socket.on("receive_message", (data) => {
        const messageForm = document.getElementById("message-form");
        const discussionContainer = document.getElementById(
          "discussion-container"
        );
        const wrapper = document.createElement("div");
        wrapper.className = `flex items-start mb-4 ${
          data.user_id == userId ? "justify-end" : ""
        }`;

        const fileContent = data.file
          ? data.file.match(/\.(jpeg|jpg|gif|png)$/i)
            ? `<img src="${data.file}" class="mt-2 max-w-full rounded" />`
            : `<a href="${data.file}" target="_blank" class="text-sm underline text-blue-600">View File</a>`
          : "";

        wrapper.innerHTML = `
          <div class="max-w-[70%] min-w-[20%] bg-gray-100 p-3 rounded-xl border-2 border-black">
            <p class="text-sm font-bold">${data.code_hash}</p>
            <div class="flex items-center justify-between text-xs text-gray-500 mb-1">
              <span>${data.created_at}</span>
            </div>
            ${fileContent}
            ${
              data.message
                ? `<p class="text-sm font-urbanist">${data.message}</p>`
                : ""
            }
          </div>`;

        discussionContainer.appendChild(wrapper);
        wrapper.scrollIntoView({ behavior: "smooth", block: "end" });
        setTimeout(() => {
          messageForm.scrollIntoView({ behavior: "smooth", block: "end" });
        }, 50);
      });

      const fileInput = document.getElementById("file-input");
      fileInput.addEventListener("change", () => {
        const fileName = fileInput.files[0].name;
        const preview = document.getElementById("file-name-preview");
        const file = fileInput.files[0];
        preview.textContent = file ? `📎 File attached: ${fileName}` : "";
      });

      const form = document.getElementById("message-form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const messageInput = document.getElementById("message-input");
        const fileInput = document.getElementById("file-input");

        const file = fileInput.files[0];
        const message = messageInput.value;

        if (!file && !message) return;

        if (file) {
          const reader = new FileReader();
          reader.onload = () => {
            socket.emit("send_message", {
              topic_id: topicId,
              message: message,
              file_data: reader.result,
              file_name: file.name,
              file_type: file.type,
            });
          };
          reader.readAsDataURL(file);
        } else {
          socket.emit("send_message", {
            topic_id: topicId,
            message: message,
          });
        }

        const errorBox = document.getElementById("error-container");
        const preview = document.getElementById("file-name-preview");
        messageInput.value = "";
        fileInput.value = "";
        errorBox.textContent = "";
        preview.textContent = "";
      });

      socket.on("message_error", (data) => {
        const errorBox = document.getElementById("error-container");
        errorBox.textContent = data.error;
      });
    </script>
  </body>
</html>
